button, .n-button{
    border-radius: 34px;
    border: none;
    transition: 0.8s; 
    font-size: 16px;
  }
  
  .n-links >*{
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .n-logo{
    font-family: "Agbalumo";
    font-size: 1.5rem;
  }

  .n-logo span:nth-of-type(1){
    font-family: "Agbalumo";
    color: var(--voilet);
  }

  .nav-link:hover {
    color: var(--voilet) !important; 
  }


  
  
  
  /* ... (Your existing CSS) */

@media (max-width: 991.98px) {
  /* Adjustments for medium screens */
  .n-links {
    font-size: 1rem;
  }

  .n-logo {
    font-size: 1.2rem;
  }
}

@media (max-width: 767.98px) {
  /* Adjustments for small screens */
  .n-links {
    font-size: 0.9rem;
  }

  .n-logo {
    font-size: 1rem;
  }
}

/* ... (Your existing CSS) */
