.w-right {
    position: relative;
  }
  
  .w-mainCircle {
    position: relative;
    left: 4rem;
    width: 23rem;
    height: 23rem;
    border-radius: 100%;
    box-shadow: var(--boxShadow);
    top: 2rem;
    background: white;
  }
  
  .w-mainCircle>* {
    position: absolute;
  }
  
  /* topside circle */
  .w-mainCircle > :nth-child(1) {
    top: 50;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* middle circle */
  .w-mainCircle > :nth-child(2) {
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* rightside circle */
  .w-mainCircle > :nth-child(3) {
    top: 30%;
    left: 110%;
    transform: translateX(-100%);
  }
  
  /* bottomside circle */
  .w-mainCircle > :nth-child(4) {
    top: 110%;
    left: 30%;
    transform: translateY(-100%);
  }
  
  /* leftside circle */
  .w-mainCircle > :nth-child(5) {
    top: 50%;
    left: -2rem;
    transform: translateY(-50%);
  }
  
  .w-2circle {
    width: 6.5rem;
    height: 6.5rem;
    position: absolute;
    border-radius: 50%;
    border: 5px solid #ebebeb;
    background: white;
    box-shadow: var(--boxShadow);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .w-2circle > img {
    width: 100%; 
    /* height: auto; */
  }
  
  .w-bgCircle{
    position: absolute;
    height: 18rem;
    width: 18rem;
    border-radius: 100%;
    z-index: -1;
  }
  .blueCircle{
    background: #5DCEFF;
    left: 7rem;
    top: -2rem;
  }
  .voiletCircle{
    background: var(--voilet);
    left: 7rem;
    top: 7rem;
  }