.contact-wrapper{
    margin-top: -5rem;
    margin-bottom: 20vh;
}

form, input{
    width: 50rem;
    height: 3rem;
}

input, .form-control{
    border: 1px solid var(--voilet);
    resize: none;
}
body {
  overflow-x: hidden;
}
  
  
  @media screen and (max-width: 480px) {
    .contact-wrapper {
      margin-bottom: 50vh; 
    }
  
    form, input, textarea {
      max-width: 100%;
    }
  
    .contact-btn {
      border-radius: 34px;
      border: none;
      color: white;
      background:  rgba(133, 33, 180, 0.699) ;
      box-shadow: 0px 20px 24px 3px rgba(133, 41, 153, 0.25);
      width: 100%; 
      max-width: 400px; 
    }
    .c-btn:hover{
      background-color: #fff;
      color: var(--voilet);
    }
    .body{
      overflow-x: hidden;
    }
  }
  