.experience{
    margin-top: 10rem;
    margin-bottom: 15vh;
}
.achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.circle{
    position: relative;
    width: 6rem;
    height: 6rem;
    background: white;
    border-radius: 100%;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle::before{
    background: linear-gradient(to bottom, #5DCEFF 0%, rgba(133, 41, 153, 0.4));
    border-radius: 100%;
    content: '';
    top: -0.5rem; 
    left: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    position: absolute;
    z-index: -1;
    box-shadow: var(--boxShadow);
}

.achievement span:nth-of-type(2){
    color: var(--voilet);
    margin-top: -1.5rem;
    font-size: 20px;
    font-weight: 400;
}

.achievement span:nth-of-type(1){
    font-size: 20px;
}



@media screen and (max-width: 480px) {
    .experience {
      margin-top: 2rem;
      margin-bottom: 60vh;
    }
  
    .circle {
      width: 4rem;
      height: 4rem;
      font-size: 1.5rem;
    }
  
    .achievement span:nth-of-type(2) {
      margin-top: -1rem;
      font-size: 16px;
    }
  
    .achievement span:nth-of-type(1) {
      font-size: 16px;
    }
    .ex {
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex-wrap: nowrap;
        padding-left: 9rem;
        padding-right: 6rem;
      }
      .achievement{
        margin-right: 3.1rem;
      }
      
  }
  


